body{
    background: #ccc;
}


#title, .subtitle, .projtitle {
    color: blue;
    font-family: Candara, Arial;
}

.subtitle{
    padding-left: 15px;
}

.projtitle {
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #FFF;
    padding: 10px;
    border: 3px solid #000;
    margin: 10px;
    border-width: 1px;
    border-radius: 5px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
}

.my_image{
    border-radius: 40%;
    zoom: 0.5;
    border: 5px solid #000;
}